.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        padding: 20px 0;
        width: 50vw;
    }
} 
.img-attr{
    display: none;
}