@import '../globals.scss';

.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        padding: 20px 0;
        
        @include tablet{
            width: 40vw;
        }
        @include desktop{
            width: 35vw;
        }
    }
    .card{
        margin-bottom: 2rem;
    }
} 
.img-attr{
    display: none;
}